

<nav class="navbar navbar-expand-lg navbar-ligth bg-ligth" aria-label="Tenth navbar example">
  <div class="container  content-center">
  
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link " style="color: black;" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link " style="color: black;" routerLink="/contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " style="color: black;" routerLink="/tienda">Tienda </a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link " style="color: black;" routerLink="/lista"> Lista</a>
        </li>
        <li class="nav-item" *ngIf="!isLogged">
          <a class="nav-link " style="color: black;" routerLink="/login"> Iniciar Sesión</a>
        </li>
        <li class="nav-item" *ngIf="!isLogged">
          <a class="nav-link " style="color: black;" routerLink="/registro">Registrarse</a>
        </li>
        <li class="nav-item " *ngIf="isLogged" (click)="onLogOut()">
          <a class="nav-link " style="cursor: pointer;">Cerrar Sesión</a>
        </li>

      </ul>
    </div>
  
</nav>

<app-footer></app-footer>
